.welcome {
    display: flex;
    justify-content: center;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-container:first-child {
    display: none;
}

.welcome img {
    max-width: 70vw;
}

@media screen and (max-width: 660px) {
    .welcome {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .welcome img {
        max-width: 80vw;
    }
    .welcome-container {
        margin-top: 3rem;
    }
}
